* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../img/fondo1.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff;
    }

header nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}    

header {
    background-color: #000000;
    border-bottom: 1px solid rgb(49, 49, 133);
    padding: 10px 20px;
    text-align: center;
    font-family: jaro;
    font-size: 27px;

}
.logo {
    display: flex;
    flex-direction: row;
    align-items: auto;
    justify-items: auto;
    width: 210px;
    transition: all 950ms;
}
.logo:hover {
    transform: scale(0.7);
    transform: rotate(720deg);
}
header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 16px;
}

header nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

main {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #000000;
    border: 1px solid rgb(49, 49, 133);
    border-radius: 18px;
    box-shadow: 0 2px 4px rgba(225, 0, 255, 0.1);
}

.post-feed {
    padding: 20px;
    border: 2px solid #6e16c1;
    border-radius: 15px;
    margin-bottom: 15px;
    background-color: #000000;
    box-shadow: 0 2px 4px rgba(255, 0, 238, 0.1);
}

.post-feed img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.post-feed h2 {
    margin-bottom: 5px;
    text-align: center;
}

.post-feed p {
    margin-bottom: 10px;
    text-align: center;
}

.post-feed button {
    padding: 8px 16px;
    background-color: #6e16c1;
    color: #ffffff;
    border: none;
    border-radius: 11px;
    cursor: pointer;
    margin-left: 16px;
}

/* PIE DE PAGINA */

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: #8a51c0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8%;
}
footer a {
    color: #000000;
}

.social-icons {
	display: flex;
	gap: 1rem;
    margin: 15px 0 0 15px;
}

.social-icons span {
	border-radius: 50%;
	width: 1.5rem;
	height: 1.5rem;
    display: flex;
	align-items: center;
	justify-content: center;
}

.social-icons span i {
	color: #fff;
	font-size: .8rem;
}

.facebook {
	background-color: #3b5998;
}

.twitter {
	background-color: #00acee;
}

.youtube {
	background-color: #c4302b;
}

.pinterest {
	background-color: #c8232c;
}

.instagram {
	background: linear-gradient(#405de6,
			#833ab4,
			#c13584,
			#e1306c,
			#fd1d1d,
			#f56040,
			#fcaf45);
}

.material-symbols-outlined {
    /* .list_icon */
    color: black;
    cursor: pointer;
    padding:0 100%;
}

.menu_hamburguesa {
    display: none;
}

@media (max-width: 768px) {
    .material-symbols-outlined {
        /* .list_icon */
        color: white;
        padding:100% 0;
    }

    ul, li {
        list-style: none;
    }

    .header {
        height: 120px;
    }

    .logo {
        width: 230px;
    }

    .navbar {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        padding: 0 4rem;

    }

    .menu_hamburguesa:checked + .ul_links {
        height: calc(100vh - 120px);
    }

    .material-symbols-outlined {
        /* .list_icon */
        color: white;
        cursor: pointer;
    }

    .ul_links {
        width: 110%;
        background-color: black;
        position: absolute;
        top: 110px;
        
        height: 0;
        overflow: hidden;
        /* height: calc(100vh - 80px); */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;

        transition: all .3s;

    }

    .link {
        font-size: 3em;
        color: white;
        font-weight: bold;

    }

}