        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #000000;
            color: #ffffff;
        }
        header {
            background-color: #000000;
            border-bottom: 1px solid #3a3a3a;
            padding: 10px 20px;
            text-align: center;
            
        }
        header nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        header nav ul li {
            display: inline-block;
            margin-right: 20px;
        }
        header nav ul li a {
            text-decoration: none;
            color: #262626;
        }
        main {
            max-width: 400px;
            margin: 20px auto;
            padding: 20px;
            background-color: #000000;
            border: 1px solid #6e16c1;
            border-radius: 18px;
            box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
        }
        .post-feed {
            padding: 20px;
            border: 2px solid #6e16c1;
            border-radius: 15px;
            margin-bottom: 15px;
            background-color: #000000;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .post-feed img {
            width: 100%;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        .post-feed h2 {
            margin-bottom: 5px;
        }
        .post-feed p {
            margin-bottom: 10px;
        }
        .post-feed button {
            padding: 8px 16px;
            background-color: #6e16c1;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        footer {
            text-align: center;
            background-color: #6e16c1;
            border-top: 1px solid #dbdbdb;
            padding: 10px 0;
            
            bottom: 0;
            left: 0;
            width: 100%;
        }